.card{
    background-color: beige;
    background-image: url("https://images.unsplash.com/photo-1534088568595-a066f410bcda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1502&q=80");
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height:300px;
    width: 800px;
    margin:50px;
}